* {
    padding: 0;
    margin: 0;
}

.mainSection {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

/* Introduction Section Style */
.introduction {
    display: grid;
    gap: 30px;
}

.introHeading {
    font-size: 30px;
    grid-column: 1 / span 3;
    grid-row: 1;
    border: 2px solid red;
}

.rightSide {
    border: 2px solid green;
    grid-column: 3;
    grid-row: 1 / span 2;
}

.sideBar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


.sideBar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sideBar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}


.content {
    margin-left: 200px;
    padding: 1px 24px;
    height: 1000px;
}

.sectionHeading {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #04AA6D;
}





/* MY TOP PICKS */
.topPicks{
    position: relative;
    height: 500px;  
}
.swiper {
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    background: #e4d4d4;
  }

  .swiper-slide {
    width: 40%;
  }

  .swiper-slide:nth-child(n) {
    width: 40%;
  }

 .swiper-slide img{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
 .swiper-slide img{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
  }